

body {
    background-image: url("images/fadebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: fantasy;
    max-height: 750px;
}

.game-container {
    border: solid black 4px;
    width: 505px;
    height: 500px;
    margin: auto;
    position: absolute;
    background-image: url("images/newbg.png"); 
    background-size: 160%;
    background-position: right;
    background-repeat: no-repeat;
    background-color: white;
}

.dropper1 {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,  rgb(211, 174, 10) 0%,rgba(255,255,255,1) 56%,rgb(211, 174, 10) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
}

.dropper2 {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,  rgb(211, 174, 10) 0%,rgba(255,255,255,1) 56%,rgb(211, 174, 10) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
}

.dropper3 {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,  rgb(201, 179, 15) 0%,rgba(255,255,255,1) 56%,rgb(211, 174, 10) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
}

.catcher {
    height: 50px;
    width: 65px;
    position: absolute;
}

.points {
    border: solid black 2px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
    overflow-wrap: break-word;
}

#start-button {
    display: inline-block;
    padding: 25px 40px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    /* text-decoration: none; */
    /* outline: none; */
    color: #fff;
    background-color: #448345;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    position:relative;
    top: 150px;
    left: 213px;
}
  
#start-button:hover {background-color: #3e8e41}
  
#start-button:active {
    background-color: #3e8e41;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.right-container {
    min-width: 15em;
    max-width: 24em;
    margin-left: 550px;
}

.lives {
    border: solid black 2px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
}

.leaderboard {
    border: solid black 2px;
    width: 160px;
    height: 320px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-wrap: break-word;

}

.game-insts {
    border: solid black 2px;
    width: 250px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    left:750px;
    bottom:428px;
    text-align: center;
    overflow-wrap: break-word;
}

h1 {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

audio {
    float: left;
    width: 150px;
    height: 50px;
}

.emoji {
    height: 20px;
}

#toggle {
    margin-top: 0%;
}

