.game-container {
    border: solid black 5px;
    width: 500px;
    height: 500px;
    margin: auto;
    position: absolute;
}

.dropper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
}

.catcher {
    height: 40px;
    width: 60px;
    background-color: black;
    position: absolute;
}

.points {
    border: solid black 5px;
    width: 100px;
    height: 50px;
    

}