body {
    background-image: url("images/fadebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    font-family: fantasy;
}

.game-container {
    border: solid black 5px;
    width: 500px;
    height: 500px;
    margin: auto;
    position: absolute;
    background-image: url("images/newbg.png"); 
    background-size: 160%;
    background-position: right;
    background-repeat: no-repeat;
    background-color: white;
}

.dropper3 {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,  rgb(201, 179, 15) 0%,rgba(255,255,255,1) 56%,rgb(211, 174, 10) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
}

.dropper1 {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,  rgb(211, 174, 10) 0%,rgba(255,255,255,1) 56%,rgb(211, 174, 10) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
}

.dropper2 {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(45deg,  rgb(211, 174, 10) 0%,rgba(255,255,255,1) 56%,rgb(211, 174, 10) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
}

.catcher {
    height: 50px;
    width: 65px;
    position: absolute;
}

.points {
    border: solid black 4px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: white;
}

#start-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    /* text-decoration: none; */
    /* outline: none; */
    color: #fff;
    background-color: #448345;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    position:relative;
    left:-5px;
    top:-10px;
}
  
#start-button:hover {background-color: #3e8e41}
  
#start-button:active {
    background-color: #3e8e41;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}
